
<div class="container" *ngIf="data && id=='all'" >
<ng-container *ngFor="let number of data[1];let i=index">
  <div class="left" [ngStyle]="{'height.%': 100/cssheight,'line-height.px':h/cssheight}" [ngClass]="{'odd':i%2==0,'even':i%2!=0}" > <h1>{{number.floor}}. nad</h1></div>
  <div class="right" [ngStyle]="{'height.%': 100/cssheight}" [ngClass]="{'odd':i%2==0,'even':i%2!=0}" >
      <ng-container *ngFor="let item of data[0]">
  
   
          <p  class="single" *ngIf="item.floor==number.floor">
           {{item.name}}
          </p>
          
          
      </ng-container>

  </div>
</ng-container>
</div>
<h1 *ngIf="id!='all'" class="floor">{{id}}. Nadstropje</h1>
<div class="container2" *ngIf="data && id!='all'" >
  
    <ng-container class="test" *ngFor="let number of data[1];let i=index">
      <div class="left2" [ngStyle]="{'height.px': h/cssheight ,'line-height.px':h/cssheight}" [ngClass]="{'odd':i%2==0,'even':i%2!=0}" > <h1>{{number.room}}</h1></div>
      <div class="right2" [ngStyle]="{'height.px': h/cssheight,'line-height.px':h/cssheight }" [ngClass]="{'odd':i%2==0,'even':i%2!=0}">
          <ng-container *ngFor="let item of data[0]">
      
            
              <p *ngIf="item.room==number.room">
               {{item.name}}
              </p>
              
              
          </ng-container>
    
      </div>
    </ng-container>
    </div>