.container{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
   
    height: 100%;
    width: 100%;
  
}
.single{
    border-bottom: 2px solid #48A9A6;
    break-inside: avoid-column;
    
}
.container2{
   width: 100%
  
    
}
.left{
    position: relative;
    float:left;
    width: 20%;
    text-align: center;
   font-size: 3vh;
   color:#731DD8;
   border-top: 1px solid purple;
   font-family: sans-serif;
  
}
.left2{
    position: relative;
    float:left;
    width: 20%;
    text-align: center;
   font-size: 3vh;
   color:#731DD8;
   border-top: 1px solid purple;
   font-family: sans-serif;
   
}
.row{
    
    
}
.right{
    
    position: relative;
    
    width: 80%;
    -webkit-column-count: 3;
    -moz-column-count: 3;
         column-count: 3;
      font-family: sans-serif;
            
              color:#731DD8; 
    text-align: left;
    background-color: skyblue;
     border-top: 1px solid purple;
}
.right2{
    
    position: relative;
    float:right;
    width: 80%;
    white-space: nowrap;
      
      font-family: sans-serif;
            
              color:#731DD8; 
    text-align: left;
    background-color: skyblue;
     border-top: 1px solid purple;
}
.right p{
    margin:0;
    padding: 0;
    width: auto;
    font-size: 25px;
    
}
.right2 p{
    margin:0;
    padding: 0;
    width: auto;
    margin-right:30px; 
    font-size: 25px;
    display: inline-block;
    
}
h1{
    padding: 0;
    margin: 0;
    
}
.textdiv{
    display: flex;
    justify-content: center;
}
.floor{
    text-align: center;
    background-color: #731DD8;
    height:75px;
    width: 100%;
    line-height: 75px;
}
.odd{
    background-color:#D4B483
}
.even{
    background-color: #E4DFDA
}


